*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkcyan;
}

.container{
    background-color: antiquewhite;
    width: 85%;
    min-width: 350px;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(8, 99, 179);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 32px;
}

.temp-container{
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

.input{
    min-width: 220px;
    padding: 5px;
    outline: none;
    color: darkgreen;
    background-color: azure;
    border-color: beige;
    font-family: inherit;
    font-size: 18px;
    float: right;
}

.input::placeholder{
    color: darkgray;
}

@media (max-width:500px){
    
    h1{
        text-align: center;
    }

    .input{
        float: left;
        width: 100%;
    }
}